# Database Config
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rong_plan

# Server Configuration
PORT=3001
NODE_ENV=development

# Session & Authentication
# JWT_PRIVATE_KEY=""
# JWT_PUBLIC_KEY=""

# Redis Queue Config (BullMQ)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Cloudflare R2 Object Storage Credentials
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=

# Resend Mailer Credentials
RESEND_API_KEY=
RESEND_FROM_EMAIL=
